<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Fawkes!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="text-center">
    <main role="main" id="app">
      <img class="m-4 mx-auto" src="images/beaker.svg" alt="" width="150" height="167.5">
      <h2><%= gettext "Welcome to %{name}!", name: "Fawkes" %></h2>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script src="<%= static_path(@conn, "/js/app.bundle.js") %>"></script>
  </body>
</html>
